.addIcon {
  width: 25px;
  height: 25px;
}

.newSection {
  cursor: pointer;
  width: 50vw;
  background-color: #373c46;
  border-radius: 5px;
  box-shadow: 2px 2px 6px black;
  font-size: 2vh;
  padding: 5px;
  font-size: 1.5vh;
  transition: all 1s;

  position: relative;
}

.newSection:hover {
  z-index: 0;
  opacity: 1;
}

.form {
  position: static;
  opacity: 1;
  transition: height 1s;
  transition: all 1s;
}

.buttons {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.fhide {
  height: 0;
  transform: scaleY(0);
}

.fshow {
  height: 6.5vh;
  transform: scaleY(1);
}
