.addIcon {
  width: 25px;
  height: 25px;
}

.newSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  opacity: 30%;
  cursor: pointer;
  transition: all 1s;
  width: 50vw;
  background-color: #373c46;
  border-radius: 5px;
  box-shadow: 2px 2px 6px black;
  font-size: 2vh;
  padding: 5px;
  font-size: 1.5vh;
  position: relative;
}

.newSection:hover {
  opacity: 100%;
  z-index: 0;
}

.form {
  flex-flow: column;
  opacity: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.buttons {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}
